{% extends 'base1.html' %}

{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Admin</li>
{% endblock breadcrumb%}
{% block content %}
<div class="col-md-12">
  <div class="card">
      <div class="card-header">
        <!-- <i class="fa fa-align-justify"></i>Hello Admin -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"> <a class="nav-link" href="{% url 'sign-up' %}" data-abc="true">Register Client</a> </li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'admin_client' %}" data-abc="true">View Client</a> </li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'new_project' %}" data-abc="true">Register Project</a> </li>
              <li class="nav-item"> <a class="nav-link" href="#" data-abc="true">View Project</a> </li>
            </ul>
            <form onsubmit="event.preventDefault()" class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="text" placeholder="Search"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> </form>
          </div>
        </nav>
      </div>
      <!-- <style>
        #table2 {
          border-collapse: collapse;
          width:95%;
          font-family:sans-serif;
          font-weight:bold;
        }

        #th2, #td2 {
          text-align: center;
          padding: 10px;
        }
        #tr2:nth-child(even){background-color: #f2f2f2}
        </style>
        <ol start="1">
          <form method='POST' action='/manager/'>
            {% csrf_token %}
      <table border=0 id='table2' align='left' class="col-md-12">
        <tr id='tr2'>
        <td id='td2'>
          <h3>Clients</h3>
        </td>
        <td id='td2'>
          <h3>Projects</h3>
        </td>
        </tr id='tr2'>
        <tr>
        <td id='td2' align='center'>
          <button type="submit" value='1' name='disp' class="btn btn-primary btn-lg">Register New Client</button>
        </td>
        <td id='td2' align='center'>
          <button type="submit" value='3' name='disp' class="btn btn-primary btn-lg">Register New Project</button>
        </td>
        <td id='td2' align='center'>
          <h4>Total Registered Client's</h4>
          <h5>{{data.count}}</h5>
        </td>
        </tr>
        <tr id='tr2'>
        <td id='td2' align='center'>
          <button type="submit" value='2' name='disp' class="btn btn-primary btn-lg">View / Edit Client's</button>
        </td>
        <td id='td2' align='center'>
          <button type="submit" value='4' name='disp' class="btn btn-primary btn-lg">View / Edit Project's</button>
        </td>
        <td id='td2' align='center'>
          <h4>Total Registered Project's</h4>
          <h5>{{data.count}}</h5>
        </td>
        </tr>
      </table>
    </form>
    </ol> -->
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    {% block content1 %}
    {% endblock %}
  </div>
</div>
{% endblock %}
