{% extends 'admin.html' %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Admin</li>
<li class="breadcrumb-item active">Client's</li>
{% endblock breadcrumb%}
{% block content1 %}
<div class="card-header">
    <i class="fa fa-align-justify"></i>Clients
</div>
<div class="">
  {% for message in messages %}
  <p class="text-center alert alert-info">{{ message }}</p>
  {% endfor %}
</div>
<style>
    #table1 {
      border-collapse: collapse;
      width:95%;
      font-family:sans-serif;
      font-weight:bold;
    }
    
    #th1, #td1 {
      text-align: center;
      padding: 10px;
    }
    #tr1:nth-child(even){background-color: #f2f2f2}
    #tr1:hover {background-color: #c9c2c1;}
    #button{background-color: #8c8b8b;border: none;
      color: white;
      padding: 5px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 3px 1px;
      font-family:sans-serif;
      cursor: pointer;}
    </style>
    <ol start="1">
        {% if client %}
  <table border=0 id='table1' align='left'>
    {% for i in client %}
    <tr id='tr1'> 
      <td id='td1' width='50px' >
        {{forloop.counter}}.
      </td>
    <td id='td1' style='text-align: left;'>
    {% if i.last_name == 'Admin' %}
    {{ 'Admin'}}
    {% else %}
    {{ i.username }} {{ i.last_name }}
    {% endif %}
    </td>
    <td id='td1' width='70px'>
      <a href="{% url 'update_client' i.id %}"><i class="fa fa-edit" style='cursor: pointer;font-size:20px'></i></a>
    </td>
    {% if i.last_name != 'Admin' %}
    <td id='td1' width='70px'>
      <a href="{% url 'remove_client' i.id %}"><i class="fa fa-trash" style='cursor: pointer;font-size:16px'></i></a>
    </td>
    {% endif %}
    </tr>
    {%endfor%}
  </table>
  {% else %}
    <h4 class = 'text-center alert alert-warning'>No records to show</h4>
    {% endif %}      
</ol>
{% endblock %}