{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Home</li>
{% endblock breadcrumb%}

{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
    <div class="row">
    <div class="col-12">
      <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>About Us
        <div class="card-actions">
          <!--<a href="#" target="_blank">
            <small class="text-muted">docs</small>
          </a>-->
        </div>
      </div>
      <div class="card-body">
        <div class="jumbotron bg-white">
          <h1 class="display-4">Hello, Everyone!</h1>
          <p class="lead">Welcome to the Project Management and Tracking System.</p>
          <hr class="my-4">
          <p>This is a project management system which can be used to track the ongoing project as well as assign work to the developers available as well as used for solving queries (feedback) of the client.</p>
          <p>Adding Projects according to clients need and track the project is the main aim of this system.</p>
          <!--<p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'sign-up' %}" role="button">Set up your company</a>
          </p>
          {% if not user.is_authenticated %}
          <a href="{% url 'login' %}">Click here if you are already registered</a>
          {% endif %}-->
        </div>
      </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
