{% extends 'base.html' %}
{% load static %}
{% block body %}
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card p-4">
                      <div class="">
                        {% for message in messages %}
                        <p class="text-center alert alert-info">{{ message }}</p>
                        {% endfor %}
                      </div>
                        <div class="card-body">
                          <p class="text-center alert alert-info">Update Project</p>
                            <form method="POST" action="">
                                {% csrf_token %}
                                {{form.as_p}}
                                Update Client: 
                                <select name='person'>
                                  <option value='set'>{{pro}}</option>
                                  {% for i in client %}
                                  {% if i.last_name != 'Admin' and i.username|add:' - '|add:i.last_name != pro %}
                                  <option value="{{ i.email}}">{{ i.username}} - {{i.last_name}}</option>
                                  {% endif %}
                                  {% endfor %}
                                  </select><br><br>
                                  Update Developer: 
                                  <table border=0 cellpadding=3 cellspacing=3>
                                        
                                    {% for i in dev %}
                                    <tr>
                                    <td>
                                    {% if i.password == 'set' %}
                                    <input class='checkmark' checked=check  type="checkbox" id="developer" name="developer" value="{{i.email}}">
                                    {% else %}
                                    <input class='checkmark'  type="checkbox" id="developer" name="developer" value="{{i.email}}">
                                    {% endif %}
                                    </td>
                                    <td>
                                    <label clsss='container' for="developer"><b>{{i.first_name}} - {{i.last_name}}</b></label>
                                    </td>
                                     </tr>
                                    {% endfor %}
                                    </table><br>
                                <input type="Submit" class='btn btn-success' name="" value="Update">
                                <a href="{% url 'projects' %}" class="btn btn-success">Return</a>
                            </form>
                            <br>
                        </div>
                    </div>
                    <!--<div class="card text-white bg-primary py-5">
                      <img src="{% static 'core/img/logos/P_T.png' %}" alt="">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
  <!-- Bootstrap and necessary plugins -->
    <script src="{% static 'core/vendors/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/popper.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/pace.min.js'%}"></script>
    <script src="{% static 'core/vendors/js/Chart.min.js'%}"></script>

  <!-- CoreUI main scripts -->

    <script src="{% static 'core/js/app.js'%}"></script>

  <!-- Plugins and scripts required by this views -->

  <!-- Custom scripts required by this view -->
    <script src="{% static 'core/js/main.js'%}"></script>

</body>

{% endblock %}
